<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nmefc.observe_service.mapper.FcstDataMapper">
  <resultMap id="BaseResultMap" type="com.nmefc.observe_service.bean.FcstData">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="query_time" jdbcType="TIMESTAMP" property="queryTime" />
    <result column="record_time" jdbcType="VARCHAR" property="recordTime" />
    <result column="site" jdbcType="VARCHAR" property="site" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified" jdbcType="TIMESTAMP" property="modified" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
    <result column="ws" jdbcType="DECIMAL" property="ws" />
    <result column="wd" jdbcType="DECIMAL" property="wd" />
    <result column="wsm" jdbcType="DECIMAL" property="wsm" />
    <result column="att" jdbcType="DECIMAL" property="att" />
    <result column="bp" jdbcType="DECIMAL" property="bp" />
    <result column="hu" jdbcType="DECIMAL" property="hu" />
    <result column="wt" jdbcType="DECIMAL" property="wt" />
    <result column="sl" jdbcType="DECIMAL" property="sl" />
    <result column="bg" jdbcType="DECIMAL" property="bg" />
    <result column="bx" jdbcType="DECIMAL" property="bx" />
    <result column="zq" jdbcType="DECIMAL" property="zq" />
    <result column="ybg" jdbcType="DECIMAL" property="ybg" />
    <result column="yzq" jdbcType="DECIMAL" property="yzq" />
    <result column="tenthbg" jdbcType="DECIMAL" property="tenthbg" />
    <result column="tenthzq" jdbcType="DECIMAL" property="tenthzq" />
    <result column="zbg" jdbcType="DECIMAL" property="zbg" />
    <result column="zzq" jdbcType="DECIMAL" property="zzq" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, query_time, record_time, site, create_time, modified, is_delete, ws, wd, wsm, 
    att, bp, hu, wt, sl, bg, bx, zq, ybg, yzq, tenthbg, tenthzq, zbg, zzq
  </sql>
  <select id="selectByExample" parameterType="com.nmefc.observe_service.bean.FcstDataExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from fcst_data
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from fcst_data
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from fcst_data
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.nmefc.observe_service.bean.FcstDataExample">
    delete from fcst_data
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.nmefc.observe_service.bean.FcstData">
    insert into fcst_data (id, query_time, record_time, 
      site, create_time, modified, 
      is_delete, ws, wd, wsm, 
      att, bp, hu, wt, 
      sl, bg, bx, zq, 
      ybg, yzq, tenthbg, 
      tenthzq, zbg, zzq)
    values (#{id,jdbcType=BIGINT}, #{queryTime,jdbcType=TIMESTAMP}, #{recordTime,jdbcType=VARCHAR}, 
      #{site,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{modified,jdbcType=TIMESTAMP}, 
      #{isDelete,jdbcType=TINYINT}, #{ws,jdbcType=DECIMAL}, #{wd,jdbcType=DECIMAL}, #{wsm,jdbcType=DECIMAL}, 
      #{att,jdbcType=DECIMAL}, #{bp,jdbcType=DECIMAL}, #{hu,jdbcType=DECIMAL}, #{wt,jdbcType=DECIMAL}, 
      #{sl,jdbcType=DECIMAL}, #{bg,jdbcType=DECIMAL}, #{bx,jdbcType=DECIMAL}, #{zq,jdbcType=DECIMAL}, 
      #{ybg,jdbcType=DECIMAL}, #{yzq,jdbcType=DECIMAL}, #{tenthbg,jdbcType=DECIMAL}, 
      #{tenthzq,jdbcType=DECIMAL}, #{zbg,jdbcType=DECIMAL}, #{zzq,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.nmefc.observe_service.bean.FcstData">
    insert into fcst_data
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="queryTime != null">
        query_time,
      </if>
      <if test="recordTime != null">
        record_time,
      </if>
      <if test="site != null">
        site,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="modified != null">
        modified,
      </if>
      <if test="isDelete != null">
        is_delete,
      </if>
      <if test="ws != null">
        ws,
      </if>
      <if test="wd != null">
        wd,
      </if>
      <if test="wsm != null">
        wsm,
      </if>
      <if test="att != null">
        att,
      </if>
      <if test="bp != null">
        bp,
      </if>
      <if test="hu != null">
        hu,
      </if>
      <if test="wt != null">
        wt,
      </if>
      <if test="sl != null">
        sl,
      </if>
      <if test="bg != null">
        bg,
      </if>
      <if test="bx != null">
        bx,
      </if>
      <if test="zq != null">
        zq,
      </if>
      <if test="ybg != null">
        ybg,
      </if>
      <if test="yzq != null">
        yzq,
      </if>
      <if test="tenthbg != null">
        tenthbg,
      </if>
      <if test="tenthzq != null">
        tenthzq,
      </if>
      <if test="zbg != null">
        zbg,
      </if>
      <if test="zzq != null">
        zzq,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="queryTime != null">
        #{queryTime,jdbcType=TIMESTAMP},
      </if>
      <if test="recordTime != null">
        #{recordTime,jdbcType=VARCHAR},
      </if>
      <if test="site != null">
        #{site,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modified != null">
        #{modified,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=TINYINT},
      </if>
      <if test="ws != null">
        #{ws,jdbcType=DECIMAL},
      </if>
      <if test="wd != null">
        #{wd,jdbcType=DECIMAL},
      </if>
      <if test="wsm != null">
        #{wsm,jdbcType=DECIMAL},
      </if>
      <if test="att != null">
        #{att,jdbcType=DECIMAL},
      </if>
      <if test="bp != null">
        #{bp,jdbcType=DECIMAL},
      </if>
      <if test="hu != null">
        #{hu,jdbcType=DECIMAL},
      </if>
      <if test="wt != null">
        #{wt,jdbcType=DECIMAL},
      </if>
      <if test="sl != null">
        #{sl,jdbcType=DECIMAL},
      </if>
      <if test="bg != null">
        #{bg,jdbcType=DECIMAL},
      </if>
      <if test="bx != null">
        #{bx,jdbcType=DECIMAL},
      </if>
      <if test="zq != null">
        #{zq,jdbcType=DECIMAL},
      </if>
      <if test="ybg != null">
        #{ybg,jdbcType=DECIMAL},
      </if>
      <if test="yzq != null">
        #{yzq,jdbcType=DECIMAL},
      </if>
      <if test="tenthbg != null">
        #{tenthbg,jdbcType=DECIMAL},
      </if>
      <if test="tenthzq != null">
        #{tenthzq,jdbcType=DECIMAL},
      </if>
      <if test="zbg != null">
        #{zbg,jdbcType=DECIMAL},
      </if>
      <if test="zzq != null">
        #{zzq,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.nmefc.observe_service.bean.FcstDataExample" resultType="java.lang.Long">
    select count(*) from fcst_data
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update fcst_data
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.queryTime != null">
        query_time = #{record.queryTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.recordTime != null">
        record_time = #{record.recordTime,jdbcType=VARCHAR},
      </if>
      <if test="record.site != null">
        site = #{record.site,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modified != null">
        modified = #{record.modified,jdbcType=TIMESTAMP},
      </if>
      <if test="record.isDelete != null">
        is_delete = #{record.isDelete,jdbcType=TINYINT},
      </if>
      <if test="record.ws != null">
        ws = #{record.ws,jdbcType=DECIMAL},
      </if>
      <if test="record.wd != null">
        wd = #{record.wd,jdbcType=DECIMAL},
      </if>
      <if test="record.wsm != null">
        wsm = #{record.wsm,jdbcType=DECIMAL},
      </if>
      <if test="record.att != null">
        att = #{record.att,jdbcType=DECIMAL},
      </if>
      <if test="record.bp != null">
        bp = #{record.bp,jdbcType=DECIMAL},
      </if>
      <if test="record.hu != null">
        hu = #{record.hu,jdbcType=DECIMAL},
      </if>
      <if test="record.wt != null">
        wt = #{record.wt,jdbcType=DECIMAL},
      </if>
      <if test="record.sl != null">
        sl = #{record.sl,jdbcType=DECIMAL},
      </if>
      <if test="record.bg != null">
        bg = #{record.bg,jdbcType=DECIMAL},
      </if>
      <if test="record.bx != null">
        bx = #{record.bx,jdbcType=DECIMAL},
      </if>
      <if test="record.zq != null">
        zq = #{record.zq,jdbcType=DECIMAL},
      </if>
      <if test="record.ybg != null">
        ybg = #{record.ybg,jdbcType=DECIMAL},
      </if>
      <if test="record.yzq != null">
        yzq = #{record.yzq,jdbcType=DECIMAL},
      </if>
      <if test="record.tenthbg != null">
        tenthbg = #{record.tenthbg,jdbcType=DECIMAL},
      </if>
      <if test="record.tenthzq != null">
        tenthzq = #{record.tenthzq,jdbcType=DECIMAL},
      </if>
      <if test="record.zbg != null">
        zbg = #{record.zbg,jdbcType=DECIMAL},
      </if>
      <if test="record.zzq != null">
        zzq = #{record.zzq,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update fcst_data
    set id = #{record.id,jdbcType=BIGINT},
      query_time = #{record.queryTime,jdbcType=TIMESTAMP},
      record_time = #{record.recordTime,jdbcType=VARCHAR},
      site = #{record.site,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      modified = #{record.modified,jdbcType=TIMESTAMP},
      is_delete = #{record.isDelete,jdbcType=TINYINT},
      ws = #{record.ws,jdbcType=DECIMAL},
      wd = #{record.wd,jdbcType=DECIMAL},
      wsm = #{record.wsm,jdbcType=DECIMAL},
      att = #{record.att,jdbcType=DECIMAL},
      bp = #{record.bp,jdbcType=DECIMAL},
      hu = #{record.hu,jdbcType=DECIMAL},
      wt = #{record.wt,jdbcType=DECIMAL},
      sl = #{record.sl,jdbcType=DECIMAL},
      bg = #{record.bg,jdbcType=DECIMAL},
      bx = #{record.bx,jdbcType=DECIMAL},
      zq = #{record.zq,jdbcType=DECIMAL},
      ybg = #{record.ybg,jdbcType=DECIMAL},
      yzq = #{record.yzq,jdbcType=DECIMAL},
      tenthbg = #{record.tenthbg,jdbcType=DECIMAL},
      tenthzq = #{record.tenthzq,jdbcType=DECIMAL},
      zbg = #{record.zbg,jdbcType=DECIMAL},
      zzq = #{record.zzq,jdbcType=DECIMAL}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.nmefc.observe_service.bean.FcstData">
    update fcst_data
    <set>
      <if test="queryTime != null">
        query_time = #{queryTime,jdbcType=TIMESTAMP},
      </if>
      <if test="recordTime != null">
        record_time = #{recordTime,jdbcType=VARCHAR},
      </if>
      <if test="site != null">
        site = #{site,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modified != null">
        modified = #{modified,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null">
        is_delete = #{isDelete,jdbcType=TINYINT},
      </if>
      <if test="ws != null">
        ws = #{ws,jdbcType=DECIMAL},
      </if>
      <if test="wd != null">
        wd = #{wd,jdbcType=DECIMAL},
      </if>
      <if test="wsm != null">
        wsm = #{wsm,jdbcType=DECIMAL},
      </if>
      <if test="att != null">
        att = #{att,jdbcType=DECIMAL},
      </if>
      <if test="bp != null">
        bp = #{bp,jdbcType=DECIMAL},
      </if>
      <if test="hu != null">
        hu = #{hu,jdbcType=DECIMAL},
      </if>
      <if test="wt != null">
        wt = #{wt,jdbcType=DECIMAL},
      </if>
      <if test="sl != null">
        sl = #{sl,jdbcType=DECIMAL},
      </if>
      <if test="bg != null">
        bg = #{bg,jdbcType=DECIMAL},
      </if>
      <if test="bx != null">
        bx = #{bx,jdbcType=DECIMAL},
      </if>
      <if test="zq != null">
        zq = #{zq,jdbcType=DECIMAL},
      </if>
      <if test="ybg != null">
        ybg = #{ybg,jdbcType=DECIMAL},
      </if>
      <if test="yzq != null">
        yzq = #{yzq,jdbcType=DECIMAL},
      </if>
      <if test="tenthbg != null">
        tenthbg = #{tenthbg,jdbcType=DECIMAL},
      </if>
      <if test="tenthzq != null">
        tenthzq = #{tenthzq,jdbcType=DECIMAL},
      </if>
      <if test="zbg != null">
        zbg = #{zbg,jdbcType=DECIMAL},
      </if>
      <if test="zzq != null">
        zzq = #{zzq,jdbcType=DECIMAL},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.nmefc.observe_service.bean.FcstData">
    update fcst_data
    set query_time = #{queryTime,jdbcType=TIMESTAMP},
      record_time = #{recordTime,jdbcType=VARCHAR},
      site = #{site,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modified = #{modified,jdbcType=TIMESTAMP},
      is_delete = #{isDelete,jdbcType=TINYINT},
      ws = #{ws,jdbcType=DECIMAL},
      wd = #{wd,jdbcType=DECIMAL},
      wsm = #{wsm,jdbcType=DECIMAL},
      att = #{att,jdbcType=DECIMAL},
      bp = #{bp,jdbcType=DECIMAL},
      hu = #{hu,jdbcType=DECIMAL},
      wt = #{wt,jdbcType=DECIMAL},
      sl = #{sl,jdbcType=DECIMAL},
      bg = #{bg,jdbcType=DECIMAL},
      bx = #{bx,jdbcType=DECIMAL},
      zq = #{zq,jdbcType=DECIMAL},
      ybg = #{ybg,jdbcType=DECIMAL},
      yzq = #{yzq,jdbcType=DECIMAL},
      tenthbg = #{tenthbg,jdbcType=DECIMAL},
      tenthzq = #{tenthzq,jdbcType=DECIMAL},
      zbg = #{zbg,jdbcType=DECIMAL},
      zzq = #{zzq,jdbcType=DECIMAL}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>